section#footer {
    background-color: #000;
    color: #fff; 
    padding: 20px 5%;
}

.footer-nav {
    display: flex;
    flex-direction: column;
 }

ul.social, ul.footer-menu {
    margin: 0 auto;
    display: flex;
    align-items: center;
}

ul.social li, ul.footer-menu li {
    list-style-type: none;
    margin: 20px 0;
}

ul.footer-menu li {
    border-right: 1px solid #fff;
}

ul.footer-menu li:last-child {
    border: none;
}

ul.footer-menu a {
    color: #fff;
    text-decoration: none;
    padding: 5px 30px;
}

ul.footer-menu a:nth-child(3) {
    border: none;
}

.social-icon {
    font-size: 50px;
    color: #fff;
    margin-right: 15px;
}

section#footer hr {
    margin: 20px 0;
}

#copyright {
    text-align: center;
}

@media screen and (min-width: 950px) {
    
    .footer-nav {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    ul.social, ul.footer-menu {
        margin: 0;
    }

    ul.social li, ul.footer-menu li {
        margin: 0;
    }
}